@import 'reset';
@import 'fonts';

$parent-bg: #398557;
$bg: #1D1F20;
$primary-color: #F8C296;
$border: #5062AA;
$border-width: .2vw;

body {
    background-color: $parent-bg;
}

div.floater {
    h1 {
        color: $primary-color;
        font-family: $font-stack;
        font-size: 2.1em;
        font-weight: 500;
    }
    
    background-color: $bg;
    margin: 40vh 30vw;
    width: 40vw - $border-width;
    height: 10vw - $border-width;
    line-height: 10vw - $border-width;
    text-align: center;
    border: solid $border-width $border;
}